<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Images:</strong><br>
  <% @author.images.each do |image| %>
  	<%= image_tag image.image_url(:authors_image) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>

